
<router-outlet></router-outlet>

<!--<div class="container">
  <div class="row">
    <div class="col">
      <category-filter></category-filter>
      <product-table></product-table>
    </div>
    <div class="col">
      <product-detail></product-detail>
    </div>
  </div>
</div>-->
<!--<div class="container-fluid">
  <div class="row">
    <button class="btn btn-primary m-1" (click)="createProduct()">Create Product</button>
    <button class="btn btn-primary m-1" (click)="createProductAndBlueprint()">Create Product and Blueprint</button>
    <button class="btn btn-primary m-1" (click)="replaceProduct()">Replace Product</button>
    <button class="btn btn-primary m-1" (click)="replaceBlueprint()">Replace Blueprint</button>
    <button class="btn btn-primary m-1" (click)="updateProduct()">Update Product</button>
    <button class="btn btn-primary m-1" (click)="deleteProduct()">Delete Product</button>
    <button class="btn btn-primary m-1" (click)="deleteBlueprint()">Delete Blueprint</button>
  </div>
  <div class="row">
    <div *ngFor="let product of products" class="col-md-3 p-2">
      <div class="uk-panel card text-center">
        <img src="../assets/images/{{ product.imageIcon }}" style="width:100%;" />
        <div class="card-footer" style="background-color:white;">
          <h4>{{ product.subcategory }}</h4>
          <p>Price: {{product.price  | currency:"GBP":"symbol" }}</p>
          <button class="btn-default">More details...</button>
          <button class="float-right btn btn-sm btn-success" (click)="addToCart(product)">
            Add to Cart
          </button>
        </div>
      </div>
    </div>
  </div>
</div>-->
